<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.sunghyuk.lifemusic.repository.mapper.MemberMapper">
	<resultMap id="MemberResult" type="MemberEntity">
		<id property="id" column="id" />
    <result property="userId" column="user_id" />
    <result property="password" column="password" />
    <result property="firstName" column="first_name" />
    <result property="middleName" column="middle_name" />
    <result property="lastName" column="last_name" />
    <result property="status" column="status" />
    <result property="isAdmin" column="is_admin" />
    <result property="createdBy" column="created_by" />
    <result property="createdDateTime" column="created_datetime" />
    <result property="updatedDateTime" column="updated_datetime" />
	</resultMap>
	<select id="findAll" resultMap="MemberResult">
		SELECT * FROM members
  </select>
  <select id="findById" parameterType="long" resultMap="MemberResult">
		SELECT * FROM members WHERE id = #{id}
  </select>
	<select id="getOneByUserId" parameterType="String" resultMap="MemberResult">
		SELECT * FROM members WHERE user_id = #{ userId } and status = 'ACTIVE'
	</select>
</mapper>