<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.sunghyuk.lifemusic.repository.mapper.RecordMapper">
  <resultMap id="RecordResult" type="RecordEntity">
    <id property="id" column="id" />
    <result property="name" column="name" />
    <result property="description" column="description" />
    <result property="releaseDate" column="release_date" />
    <result property="likeCount" column="like_count" />
    <result property="createdBy" column="created_by" />
    <result property="createdDateTime" column="created_datetime" />
    <result property="updatedDateTime" column="updated_datetime" />
  </resultMap>
  <select id="findAll" resultMap="RecordResult">
    SELECT
      id,
      name,
      description,
      release_date,
      like_count,
      created_by,
      created_datetime,
      updated_datetime
    FROM records
  </select>
  <select id="findBySearchFilterAndKeyword" resultMap="RecordResult">
    SELECT
      id,
      name,
      description,
      release_date,
      like_count,
      created_by,
      created_datetime,
      updated_datetime
    FROM records
    where name LIKE CONCAT('%',#{keywords},'%')
  </select>
  <select id="findById" parameterType="long" resultMap="RecordResult">
    SELECT * FROM records WHERE id = #{ id }
  </select>
</mapper>