<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
         PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
         "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="AlbumEntity" type="my.sunghyuk.lifemusic.entity.AlbumEntity"/>
		<typeAlias alias="CategoryEntity" type="my.sunghyuk.lifemusic.entity.CategoryEntity"/>
		<typeAlias alias="CategoryType" type="my.sunghyuk.lifemusic.entity.CategoryType"/>
	</typeAliases>
	<mappers>
		<mapper resource="my/sunghyuk/lifemusic/entity/mapper/AlbumMapper.xml" />
		<mapper resource="my/sunghyuk/lifemusic/entity/mapper/CategoryMapper.xml" />
	</mappers>
</configuration>
	