* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #333;
}

li {
	list-style: none;
}

html {
	font-size: 16px;
	line-height: 1.5;
}

.clear::after {
	content: '';
	display: block;
	clear: both;
}

/* start of album pages */
table.album_list {
	margin: 0 auto;
	border-collapse: collapse;
}

.album_list th {
	border-bottom: 1px solid #999;
}

.album_list td.empty_line {
	height: 20px !important;
}

.album_list th, .album_list td {
	height: 50px;
	width: 200px;
	text-align: center;
}

.search-tool {
	margin: 0 auto;
	width: 300px;
	height: 24px;
}

.album_list img {
	width: 50px;
	height: 50px;
}
/* end of album pages */

.footer {
    position: fixed;
    bottom: 0px;
    height: 60px;
    border-top: 1px solid #999;
    width: 100%;
    text-align: center;
}

.footer-title {
    line-height: 60px;
}