/* css/fullDnNav.css */

header {
  position: relative;
  height: 30px;
}

#headerWrap {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* 고정 너비 내비게이션 */
#head {
  width: 600px;
  margin: 0 auto;
}

/* 1차 메뉴 */
#gnb {
  position: relative;
}
#gnb > li {
  width: 20%;
  height: 30px;
  float: left;
  text-align: center;
  display: table;
  /* 표의 형태로 보여줌. 자식에 table-cell 속성값을 주어야 함 */
}

#gnb > li > a {
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.4s;
}

#gnb > li > a:hover,
#gnb > li > a:focus,
#gnb > li > a.on {  /* a.on : 클래스 앞에 태그가 바로 붙은 경우 addClass와 removeClass를 사용하여 클래스를 수정하겠다라는 뜻. */
  background-color: #09f;
  color: #fff;
}

/* 2차 메뉴 */
#gnb > li > ul {
  background-color: #fff;
  padding: 5px;
  position: absolute;
  /* 2차 메뉴는 아래로 나열하기 위해  */
  left: 0;
  top: 30px;
  width: 120px;
  /* absolute이기 때문에 부모 요소를 정확히 못 찾을 수 있기 때문에 % 값 대신 px 값으로 줌. */
}

/* 2차 메뉴 배치 */
#gnb li.nav1 ul {
  left: 0;
}
#gnb li.nav2 ul {
  left: 20%;
}
#gnb li.nav3 ul {
  left: 40%;
}
#gnb li.nav4 ul {
  left: 60%;
}
#gnb li.nav5 ul {
  left: 80%;
}

#gnb > li > ul > li {
  padding: 0 10px;
}
#gnb > li > ul > li > a {
  display: block;
  padding: 8px 0;
  font-weight: bold;
  border-bottom: 1px solid #ccc;
}

#gnb > li > ul > li > a:hover,
#gnb > li > ul > li > a:focus {
  color: #09f;
}

#gnb > li > ul.on {
  background-color: #ddd;
} 